<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div>
        <span class="text-white bg-dark font-weight-bold" th:text="${user.getEmail()} + ' '"></span>
        <span class="text-white bg-dark" th:text="'with roles: '"></span>
        <span class="text-white bg-dark" th:each="role : ${roles}"
              th:text="${role.getRole()} + ' '"></span>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <a class="text-secondary" href="/logout">Logout</a>
        </ul>
    </div>
</nav>

<div class="sidebar-fixed position-fixed">
    <div class="list-group list-group-flush">

        <div th:each="role : ${roles}"
             th:if="${role.getRole().equals('ROLE_ADMIN')}">
            <a href="/admin" class="list-group-item active waves-effect">
                <i class="fa fa-pie-chart mr-3"></i>Admin
            </a>
        </div>
        <a href="/user" class="list-group-item waves-effect">
            <i class="fa fa-user mr-3"></i>User
        </a>

    </div>
</div>
<h1>Info about current authenticated User</h1>

<div class="tab-content " id="myTabContent">
    <div class="tab-pane fade show active" id="userTable" role="tabpanel" aria-labelledby="home-tab">


        <table class="table">
            <thead class="table-light">
            <td>About user</td>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getUsername()}"></td>
                <td th:text="${user.getLastname()}"></td>
                <td th:text="${user.getAge()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td>
            <span th:each="role : ${user.getRoles()}"
                  th:text="${role.getRole()} + ' '"></span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>