<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Info about current authenticated User</h1>
<div th:each="user : ${user}">
    <label>Username: </label>
    <span th:text="${user.getUsername()}"></span>
    <br>
    <label>Lastname: </label>
    <span th:text="${user.getLastname()}"></span>
    <br>
    <label>Age: </label>
    <span th:text="${user.getAge()}"></span>
</div>
<a>Roles: </a>
    <tr th:each="role : ${roles}">
        <td th:text="${role.getRole()}"></td>
    </tr>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>